<div class="card" data-id="<%= portfolio_item.id %>">
  <% if portfolio_item.thumb_image.attached? %>
    <%= image_tag url_for(portfolio_item.thumb_image) %>
  <% else %>
    <%= image_tag image_generator(height: '350', width: '200') %>
  <% end %>
  <p class="card-text">
    <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> <%= portfolio_item.subtitle %>
  </p>
</div>
